body{
    background-color: #333;
    color: aliceblue;
    font-family: 'Lora', serif;
    font-size: 1.05rem;
    font-weight: 600;
}

.font-italic{
    letter-spacing: 0.1rem;
    font-weight: 400;

}

#countup{
    color: #d8345f;
}
