body{
    background-color: #726a95;
    color: aliceblue;
    font-family: 'Asap', sans-serif;
    text-align: justify;
}

.font-italic{
    letter-spacing: 0.1rem;
    font-weight: 600;

}

#countup{
    font-weight: 600; 
    font-size: 1.1rem;
    color: rgb(70, 6, 67);
    text-shadow: none;
}
